<div class="container">
  <h2 class="mb-3">
    <i class="fa fa-calendar" aria-hidden="true"></i> Activities
  </h2>
  <div class="input-group custom-search-form">
    <input type="text" class="form-control" placeholder="Search..." />
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">
        <i class="fa fa-search"></i>
      </button>
    </span>
  </div>
  <div class="row row-striped">
    <div class="col-6 col-lg-4 text-lg-left">
      <h1 class="display-4 d-inline mr-1">
        <span class="p-2 badge badge-secondary">15</span>
      </h1>
      <h2 class="d-inline d-lg-block">NOV</h2>
    </div>
    <div class="col-12 col-sm-6 col-lg-8">
      <h3 class="text-uppercase"><strong>Pickup Basketball</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item">
          <i class="fa fa-calendar-o" aria-hidden="true"></i> Sunday
        </li>
        <li class="list-inline-item">
          <i class="fa fa-clock-o" aria-hidden="true"></i> 2:30 PM - 4:30 PM
        </li>
        <li class="list-inline-item">
          <i class="fa fa-location-arrow" aria-hidden="true"></i> Deer Park
        </li>
      </ul>
      <p>
        Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p>
        <a
          class="btn btn-primary btn-sm float-right"
          routerLink="/detail"
          role="button"
          >Details </a
        >3 friends are interested in this event.
      </p>
    </div>
  </div>

  <div class="row row-striped">
    <div class="col-6 col-lg-4 text-lg-left">
      <h1 class="display-4 d-inline mr-1">
        <span class="p-2 badge badge-secondary">18</span>
      </h1>
      <h2 class="d-inline d-lg-block">NOV</h2>
    </div>
    <div class="col-12 col-sm-6 col-lg-8">
      <h3 class="text-uppercase"><strong>Table Tennis Match</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item">
          <i class="fa fa-calendar-o" aria-hidden="true"></i> Tuesday
        </li>
        <li class="list-inline-item">
          <i class="fa fa-clock-o" aria-hidden="true"></i> 6:30 PM - 8:00 PM
        </li>
        <li class="list-inline-item">
          <i class="fa fa-location-arrow" aria-hidden="true"></i> Main Street
          Rec
        </li>
      </ul>
      <p>
        Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>

      <p>
        <a
          class="btn btn-primary btn-sm float-right"
          routerLink="/detail"
          role="button"
          >Details </a
        >5 friends are interested in this event.
      </p>
    </div>
  </div>

  <div class="row row-striped">
    <div class="col-6 col-lg-4 text-lg-left">
      <h1 class="display-4 d-inline mr-1">
        <span class="p-2 badge badge-secondary">20</span>
      </h1>
      <h2 class="d-inline d-lg-block">NOV</h2>
    </div>
    <div class="col-12 col-sm-6 col-lg-8">
      <h3 class="text-uppercase"><strong>5k Turkey Run</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item">
          <i class="fa fa-calendar-o" aria-hidden="true"></i> Monday
        </li>
        <li class="list-inline-item">
          <i class="fa fa-clock-o" aria-hidden="true"></i> 08:30 PM - 2:00 PM
        </li>
        <li class="list-inline-item">
          <i class="fa fa-location-arrow" aria-hidden="true"></i> Park
        </li>
      </ul>
      <p>
        Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p>
        <a
          class="btn btn-primary btn-sm float-right"
          routerLink="/detail"
          role="button"
          >Details </a
        >14 friends are interested in this event.
      </p>
    </div>
  </div>

  <div class="row row-striped">
    <div class="col-6 col-lg-4 text-lg-left">
      <h1 class="display-4 d-inline mr-1">
        <span class="p-2 badge badge-secondary">27</span>
      </h1>
      <h2 class="d-inline d-lg-block">NOV</h2>
    </div>
    <div class="col-12 col-sm-6 col-lg-8">
      <h3 class="text-uppercase"><strong>Flag Football Match</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item">
          <i class="fa fa-calendar-o" aria-hidden="true"></i> Friday
        </li>
        <li class="list-inline-item">
          <i class="fa fa-clock-o" aria-hidden="true"></i> 2:30 PM - 4:00 PM
        </li>
        <li class="list-inline-item">
          <i class="fa fa-location-arrow" aria-hidden="true"></i> Baker Field
        </li>
      </ul>
      <p>
        Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p>
        <a
          class="btn btn-primary btn-sm float-right"
          routerLink="/detail"
          role="button"
          >Details </a
        >6 friends are interested in this event.
      </p>
    </div>
  </div>
</div>
