<div class="card">
  <div class="card-header text-center">
    <img
      src="https://farm1.staticflickr.com/335/19290462422_e7a60f3499_b.jpg"
      class="img-fluid"
    />
  </div>
  <div class="card-body">
    <div class="row row-striped">
      <div class="col-6 col-lg-4 text-lg-left">
        <h1 class="display-4 d-inline mr-1">
          <span class="p-2 badge badge-secondary">20</span>
        </h1>
        <h2 class="d-inline d-lg-block">NOV</h2>
      </div>
      <div class="col-12 col-sm-6 col-lg-8">
        <h3 class="text-uppercase"><strong>5k Turkey Run</strong></h3>
        <ul class="list-inline">
          <li class="list-inline-item">
            <i class="fa fa-calendar-o" aria-hidden="true"></i> Monday
          </li>
          <li class="list-inline-item">
            <i class="fa fa-clock-o" aria-hidden="true"></i> 08:30 PM - 2:00 PM
          </li>
          <li class="list-inline-item">
            <i class="fa fa-location-arrow" aria-hidden="true"></i> Park
          </li>
        </ul>
        <p>
          Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="row mt-3">
        <div class="col text-center">
          <a routerLink="/detail">
            <i class="fa fa-star-o" aria-hidden="true"></i><br />
            Interested</a
          >
        </div>
        <div class="col text-center">
          <a routerLink="/detail">
            <i class="fa fa-check-circle-o" aria-hidden="true"></i> <br />
            Going</a
          >
        </div>
        <div class="col text-center">
          <a routerLink="/details"
            ><i class="fa fa-bullhorn" aria-hidden="true"></i><br />Share</a
          >
        </div>
      </div>
      <div class="card-footer mt-3">&nbsp;</div>
    </div>
    <div class="card">
      <div class="row mt-3">
        <div class="col text-center">
          <h4>Going</h4>
          11
        </div>
        <div class="col text-center">
          <h4>Interested</h4>
          44
        </div>
        <div class="col text-center">
          <h4>Shares</h4>
          2
        </div>
      </div>
    </div>
    <div class="card-body">
      <h4>Details</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Felis eget velit
        aliquet sagittis id. Pretium aenean pharetra magna ac placerat
        vestibulum lectus mauris ultrices. Nulla pellentesque dignissim enim sit
        amet. Pellentesque dignissim enim sit amet. Mattis rhoncus urna neque
        viverra. Odio morbi quis commodo odio aenean sed adipiscing diam. Nisi
        est sit amet facilisis magna etiam tempor orci eu. Odio eu feugiat
        pretium nibh. Lacus vestibulum sed arcu non odio euismod lacinia. Lorem
        dolor sed viverra ipsum nunc. Massa id neque aliquam vestibulum morbi
        blandit cursus risus. Dignissim enim sit amet venenatis urna cursus eget
        nunc. Accumsan sit amet nulla facilisi morbi tempus iaculis urna id.
        Pharetra diam sit amet nisl suscipit. Platea dictumst vestibulum rhoncus
        est pellentesque elit.
      </p>
    </div>
  </div>
</div>
