<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="embed-responsive embed-responsive-16by9 mb-3">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12008.592427681097!2d-73.7256365!3d41.1967445!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x699ee67e9400d9b3!2sNorthern+Westchester+Hospital!5e0!3m2!1sen!2sus!4v1476996386669"
          class="img-fluid"
          frameborder="0"
          style="border:0"
          allowfullscreen=""
        ></iframe>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-header"><h5>Friends Close By</h5></div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <img
                src="https://randomuser.me/api/portraits/thumb/women/64.jpg"
              />
              Deanna Fallon
              <span class="badge badge-primary badge-pill float-right"
                >Online</span
              >
            </li>
            <li class="list-group-item">
              <img src="https://randomuser.me/api/portraits/thumb/men/64.jpg" />
              Thomas Young
            </li>
            <li class="list-group-item">
              <img src="https://randomuser.me/api/portraits/thumb/men/54.jpg" />
              Robert Park
              <span class="badge badge-primary badge-pill float-right"
                >Online</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <p class="mt-3 clearfix">
    <a
      class="btn btn-primary btn-md float-right"
      routerLink="/profile"
      role="button"
      >View Profile <i class="fa fa-arrow-right" aria-hidden="true"></i
    ></a>
  </p>

  <hr />
  <h5>Upcoming Activities</h5>

  <div class="row row-striped">
    <div class="col-6 col-lg-4 text-lg-left">
      <h1 class="display-4 d-inline mr-1">
        <span class="p-2 badge badge-secondary">20</span>
      </h1>
      <h2 class="d-inline d-lg-block">NOV</h2>
    </div>
    <div class="col-12 col-sm-6 col-lg-8">
      <h3 class="text-uppercase"><strong>5k Turkey Run</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item">
          <i class="fa fa-calendar-o" aria-hidden="true"></i> Monday
        </li>
        <li class="list-inline-item">
          <i class="fa fa-clock-o" aria-hidden="true"></i> 08:30 PM - 2:00 PM
        </li>
        <li class="list-inline-item">
          <i class="fa fa-location-arrow" aria-hidden="true"></i> Park
        </li>
      </ul>
      <p>
        Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>

  <div class="row row-striped">
    <div class="col-6 col-lg-4 text-lg-left">
      <h1 class="display-4 d-inline mr-1">
        <span class="p-2 badge badge-secondary">27</span>
      </h1>
      <h2 class="d-inline d-lg-block">NOV</h2>
    </div>
    <div class="col-12 col-sm-6 col-lg-8">
      <h3 class="text-uppercase"><strong>Flag Football Match</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item">
          <i class="fa fa-calendar-o" aria-hidden="true"></i> Friday
        </li>
        <li class="list-inline-item">
          <i class="fa fa-clock-o" aria-hidden="true"></i> 2:30 PM - 4:00 PM
        </li>
        <li class="list-inline-item">
          <i class="fa fa-location-arrow" aria-hidden="true"></i> Baker Field
        </li>
      </ul>
      <p>
        Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>

  <p class="mt-3 clearfix">
    <a
      class="btn btn-primary btn-md float-right"
      routerLink="/activities"
      role="button"
      >Browse Events <i class="fa fa-arrow-right" aria-hidden="true"></i
    ></a>
  </p>
  <hr />
  <div class="row">
    <div class="col">
      <h5>Activity Progress</h5>
      <label>Tennis:</label>
      <div class="progress">
        <div
          class="progress-bar bg-success"
          role="progressbar"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <label>Running:</label>
      <div class="progress">
        <div
          class="progress-bar bg-info"
          role="progressbar"
          style="width: 50%"
          aria-valuenow="50"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <label>Swimming</label>
      <div class="progress">
        <div
          class="progress-bar bg-warning"
          role="progressbar"
          style="width: 75%"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <label>Basket Ball</label>
      <div class="progress">
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: 100%"
          aria-valuenow="100"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
  </div>
</div>
